# **Analyzing Car Accident in New York City**

## **Table of Content**
1. [INTRO](#introduction)
1. [OBJECTIVE](#objectives)
1. [DATA SOURCE](#data-source)

### **Introduction**
In this project, I will be analysing records of car accidents in New York City from January to August, 2020...

---

### **Objectives**
1. To compare the parcentage of total accidents by `month` and observe if there is any noticeable seasonal pattern
1. To break down the frequency of the accident down into:
    - `days` of the week
    - `hours` of the week
1. To determine when accidents occurs most frequently based on:
    - day of the week
    - hour of the week
1. To check if there were more accidents during weekdays than weekends

---

# Data source
This data was download from [Kaggle](kaggle.com)


# Importing the necessary libraries

In [4]:
import pandas as pd
import datetime as dt

# Data loading

In [ ]:
accident = pd.read_excel(r"Nov_13th_data\accident_data.xlsx")

accident

,DATE_TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2020-08-29 15:40:00,BRONX,10466.0,40.892100,-73.833760,POINT (-73.83376 40.8921),PRATT AVENUE,STRANG AVENUE,NaN,0,...,Unspecified,NaN,NaN,NaN,4342908,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,2020-08-29 21:00:00,BROOKLYN,11221.0,40.690500,-73.919914,POINT (-73.919914 40.6905),BUSHWICK AVENUE,PALMETTO STREET,NaN,2,...,Unspecified,NaN,NaN,NaN,4343555,Sedan,Sedan,NaN,NaN,NaN
2,2020-08-29 18:20:00,NaN,NaN,40.816500,-73.946556,POINT (-73.946556 40.8165),8 AVENUE,NaN,NaN,1,...,NaN,NaN,NaN,NaN,4343142,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
3,2020-08-29 00:00:00,BRONX,10459.0,40.824720,-73.892960,POINT (-73.89296 40.82472),NaN,NaN,1047 SIMPSON STREET,0,...,Unspecified,Unspecified,Unspecified,NaN,4343588,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Motorcycle,NaN
4,2020-08-29 17:10:00,BROOKLYN,11203.0,40.649890,-73.933890,POINT (-73.93389 40.64989),NaN,NaN,4609 SNYDER AVENUE,0,...,Unspecified,NaN,NaN,NaN,4342953,Sedan,Sedan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74876,2020-01-01 15:13:00,BRONX,10459.0,40.826810,-73.896510,POINT (-73.89651 40.82681),NaN,NaN,1122 INTERVALE AVENUE,0,...,NaN,NaN,NaN,NaN,4268088,Sedan,NaN,NaN,NaN,NaN
74877,2020-01-01 08:00:00,BROOKLYN,11235.0,40.582935,-73.959210,POINT (-73.95921 40.582935),NaN,NaN,3401 GUIDER AVENUE,0,...,Unspecified,Unspecified,NaN,NaN,4267756,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN
74878,2020-01-01 11:36:00,BRONX,10461.0,40.848553,-73.830055,POINT (-73.830055 40.848553),NaN,NaN,1810 MAHAN AVENUE,0,...,Unspecified,NaN,NaN,NaN,4269230,Sedan,Pick-up Truck,NaN,NaN,NaN
74879,2020-01-01 01:45:00,MANHATTAN,10017.0,40.753624,-73.969440,POINT (-73.96944 40.753624),EAST 48 STREET,2 AVENUE,NaN,0,...,Driver Inattention/Distraction,NaN,NaN,NaN,4267482,Sedan,Taxi,NaN,NaN,NaN
74880,2020-01-01 18:00:00,QUEENS,11367.0,40.726875,-73.830960,POINT (-73.83096 40.726875),NaN,NaN,70-25 PARK DRIVE EAST,2,...,Driver Inattention/Distraction,NaN,NaN,NaN,4268376,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

# Dealing with 1st Objective

In [ ]:
# Extracting the required column
dt_col = accident["DATE_TIME"].tolist()
dt_col
# converting the column to python datetime object
clean_dt = []
for x in dt_col:
    clean_dt.append(dt.datetime.strptime(x,"%Y-%m-%d %H:%M:%S"))
clean_dt
# extracting the month of accident occurence
month_accid = []
for x in clean_dt:
    month_accid.append(x.strftime("%B"))
month_accid
# attempt to get the total accident by month
uniq_mth = set(month_accid)
tot_accid_month = []
for x in uniq_mth:
    tot_accid_month.append((x, month_accid.count(x)))
tot_accid_month
season = {"Spring":["March","April","May"], 
          "Summer":["June","July","August"],
          "Winter":["December","January","Febuary"]}

accid_season = []
for x in month_accid:
    if x in season["Spring"]:
        accid_season.append("Spring")
    elif x in season["Summer"]:
        accid_season.append("Summer")
    elif x in season["Winter"]:
        accid_season.append("Winter")
    else:
        accid_season.append("Autum")

accid_season

TypeError: strptime() argument 1 must be str, not Timestamp

### Key Findings
> There were more records of accident in New York City during spring compared to other seasons...